// 屬性設定區 (若是更改了html上的id屬性，這裡以及下方的id選擇器也需要同步更新)
#weien-chat {
  // color setting
  --weien-chat-primary: #3182ec;

  --weien-chat-bg-main: #ffffff;
  --weien-chat-bg-list: #ffffff;
  --weien-chat-bg-chating: #f3f3f3;

  --weien-chat-room-card: transparent;
  --weien-chat-room-card-hover: #bdbdbd17;
  --weien-chat-room-card-hover-border: #a9a9a917;
  --weien-chat-room-card-active: #bdbdbd31;
  --weien-chat-room-card-active-border: #a9a9a931;

  --weien-chat-room-card-dropdown: #6b6b6b;
  --weien-chat-room-card-dropdown-active: #000;
  --weien-chat-room-card-dropdown-option-bg: #ffffff;
  --weien-chat-room-card-dropdown-left-option-size: 6.7em;
  --weien-chat-room-card-dropdown-left-option-padding: 5px 6px 5px 12px;
  --weien-chat-room-card-dropdown-right-option-size: 6.7em;
  --weien-chat-room-card-dropdown-right-option-padding: 5px 6px 5px 12px;

  --weien-chat-unread-color: #e26237;
  --weien-chat-unread-text: #fff;

  --weien-avatar-border: #0000002a;
  --weien-divider-color: #0000002a;

  --weien-chat-scroll-bar: #c6c6c6;
  --weien-chat-scroll-bar-hover: #adadad;
  --weien-chat-scroll-bar-bg: transparent;

  --weien-chat-pinned-icon: #a9a9a9;
  --weien-chat-unpined-icon: #a9a9a9;

  // font setting
  color: #333;
  font: 1em/1.4 "Microsoft Yahei", "PingFang SC", "Avenir", "Segoe UI",
    "Hiragino Sans GB", "STHeiti", "Microsoft Sans Serif", "WenQuanYi Micro Hei",
    sans-serif;

  // layout setting (側邊欄位寬度設定)
  .chat-list-block {
    width: 28%;
    min-width: 220px;
  }

  // 滑動開關樣式
  .chat-room-slider {
    width: 35px;
    height: 18px;
    background-color: #ddd;
    border-radius: 9px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(1px);
    cursor: pointer;

    .chat-room-slider-button {
      width: 14px;
      height: 14px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: left 0.3s ease;
      cursor: pointer;

      .chat-room-slider-text {
        color: #fff;
        font-weight: bold;
        display: none;
      }
    }

    &.chat-room-slider-on {
      background-color: var(--weien-chat-primary);

      .chat-room-slider-button {
        top: 2px;
        left: calc(100% - 16px);

        .chat-room-slider-text {
          display: inline;
        }
      }
    }
  }
}

// 請與上方的設定區同步更新id名稱
#weien-chat {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-color: var(--weien-chat-bg-main);

  * {
    box-sizing: border-box;

    &::-webkit-scrollbar {
      display: none; // Webkit 瀏覽器（如 Chrome 和 Safari）
    }

    -ms-overflow-style: none; // IE 和 Edge
    scrollbar-width: none; // Firefox
  }

  img {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    transform: translate(-1px -1px);
    object-fit: cover;
    vertical-align: middle;
  }

  .chating-block {
    flex-grow: 1;
    background-color: var(--weien-chat-bg-chating);
  }

  .weien-chat-scroll {
    height: 0;
    position: relative;
    overflow: hidden;


    .weien-chat-scroll-content {
      height: 100%;
      overflow-y: scroll;
    }


    .weien-chat-scroll-bar {
      opacity: 0;
      transition: opacity 0.35s cubic-bezier(0.0, 0, 0.2, 1);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: var(--weien-chat-scroll-bar-bg);
      width: 8px;
      cursor: pointer;

      .weien-chat-scroll-thumb {
        background: var(--weien-chat-scroll-bar);
        border-radius: 3px;
        margin: 1px;
        width: 6px;
        position: absolute;
      }

      .weien-chat-scroll-thumb:hover {
        background: var(--weien-chat-scroll-bar-hover);
      }
    }

  }

  .chat-room-dropdown {
    position: relative;
    margin-left: 3px;
    color: var(--weien-chat-room-card-dropdown);
    cursor: pointer;

    .chat-room-dropdown-options-block {
      cursor: auto;
      display: none;
      position: absolute;
      box-sizing: content-box;
      font-size: 1.05em;
      top: calc(100% + 7px);
      background-color: var(--weien-chat-room-card-dropdown-option-bg);
      box-shadow: 0 2px 4px -1px #00000020;
      border: 1px solid #00000010;
      border-radius: 10px;
      z-index: 1;

      .chat-room-dropdown-option {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 9px 0;

        .chat-room-dropdown-option-text {
          display: flex;
          // align-items: center;
        }

        &:hover {
          color: var(--weien-chat-primary);
        }
      }

      &::before {
        // 擴大dropdown-options-block的hover範圍
        content: '';
        position: absolute;
        top: -15px;
        bottom: -15px;
        left: -15px;
        right: -15px;
        background: transparent;
        z-index: -1;
      }

      &:hover {
        display: block;
      }
    }
  }

  .chat-list-block {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--weien-chat-bg-list);

    .chat-list-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      margin: 6px 0;
    }

    .chat-room-list {
      width: 100%;

      .chat-room-card {
        width: 100%;
        height: 65px;
        padding: 0 15px 0 10px;
        display: flex;
        align-items: center;
        background-color: var(--weien-chat-room-card);

        .chat-room-avatar {
          width: 38px;
          height: 38px;
          border: 1px solid var(--weien-avatar-border);
          border-radius: 50%;
          overflow: hidden;
          flex-shrink: 0;
          margin-right: 8px;

          background-color: var(--weien-avatar-border);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .chat-room-overview {
          width: calc(100% - 48px);
          flex-grow: 0;

          .chat-room-icon-block,
          .chat-messages-preview,
          .chat-room-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .chat-room-name {
            font-size: 1.1em;
            font-weight: bold;
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .chat-room-date {
            font-size: 0.95em;
          }

          .chat-room-details {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .pinned-icon {
            font-size: 1.15em;
            line-height: 1;
            margin-right: 5px;
            color: var(--weien-chat-pinned-icon);
          }

          .unread-count {
            margin-top: 2px;
            width: 1.3em;
            height: 1.3em;
            box-sizing: content-box;
            border: 1px solid var(--weien-chat-unread-text);
            border-radius: 50%;
            background-color: var(--weien-chat-unread-color);
            color: var(--weien-chat-unread-text);
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              font-size: 0.8em;
            }
          }

          .chat-room-dropdown {
            display: none;

            .chat-room-dropdown-options-block {
              right: -5px;
            }
          }
        }

        .chat-room-dropdown {
          .chat-room-dropdown-options-block {
            padding: var(--weien-chat-room-card-dropdown-left-option-padding);
            width: var(--weien-chat-room-card-dropdown-left-option-size);
          }
        }

        &:hover {
          border-top: 1px solid var(--weien-chat-room-card-hover-border);
          border-bottom: 1px solid var(--weien-chat-room-card-hover-border);
          background-color: var(--weien-chat-room-card-hover);

          .chat-room-dropdown {
            display: block;

            &:hover {
              color: var(--weien-chat-room-card-dropdown-active);

              .chat-room-dropdown-options-block {
                display: block;
              }
            }
          }
        }
      }

      .active-chat {
        border-top: 1px solid var(--weien-chat-room-card-active-border);
        border-bottom: 1px solid var(--weien-chat-room-card-active-border);
        background-color: var(--weien-chat-room-card-active) !important;
      }
    }
  }

  .vertical-divider {
    width: 2px;
    background-color: var(--weien-divider-color);
  }
}