// 重置样式
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}
body {
  height: 100%;
  color: #333;
  // min-width: 1240px;
  font: 1em/1.4 "Microsoft Yahei", "PingFang SC", "Avenir", "Segoe UI",
    "Hiragino Sans GB", "STHeiti", "Microsoft Sans Serif", "WenQuanYi Micro Hei",
    sans-serif;
  // font-family: Arial, sans-serif;
}
body,
ul,
h1,
h3,
h4,
p,
dl,
dd {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #333;
  outline: none;
}
i {
  font-style: normal;
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="checkbox"] {
  padding: 0;
  outline: none;
  border: none;
  // -webkit-appearance: none;
  &::placeholder {
    color: #ccc;
  }
}
img {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  object-fit: cover;
  transform: translate(-1px, -1px);
  vertical-align: middle;
  background: #ffffff url("@/assets/images/200.png") no-repeat center / cover;
}
ul {
  list-style: none;
}

#app {
  background: #fff;
  user-select: none;
}

.container {
  max-width: 1240px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
}

// reset element
.el-breadcrumb__inner.is-link {
  font-weight: 400 !important;
}

.breadcrumb-container {
  position: relative;
  margin: 20px auto;
  width: 92%;
}

.fill-half {
  background: linear-gradient(to bottom, $headerFooter 50%, transparent 50%);
}

.space {
  background-color: $headerFooter;
  height: 12px;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
